*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}
.container-nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px ;
    align-content: center;
}
.brand-logo{
    height: inherit;
}
.logo-img{
    height: inherit;
}
.search-bar{
   align-self: center;
   height: 50%;
}
.search{
   width: 30vw;
   height: 100%;
   border-radius: 50px;
   padding-left: 30px ;
   font-size: 1.25em;
}
.nav-bar{
    line-height: 100px;
    margin-right: 5vw;
}
.nav-bar a {
    display: inline-block;
    position: relative;
    font-size: 1.25em;
    text-decoration: none;
    /* padding: 0px 25px; */
    text-align: center;
    font-weight: 600;
    width: 110px;
}
.nav-bar a:link, a:visited {
    color : white;
}
.nav-bar a:hover, a:active {
    color: black;
    background-color: white;
}
.menu{
    font-size: 40px;   
    color: white;
}
.menu-cont{
    align-self: center;
    width: 20vw;
    display: none;
    position:relative;
    text-align: center;
}

.drop{
    display: none;
    position: absolute;
    color: white;
    background-color: black;
    z-index: 2;
    width: 100%;
    box-shadow: -5px 5px 20px #159de7;
}
.drop a{
    display: block;
    font-size: 1.25em;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
.drop a:link, a:visited{
    color: white;
}
.drop a:hover, a:active{
    background-color: white;
    color: black;
}

.menu-cont:hover .drop{
    display: block;
}

        /* MEDIA QUERY FOR HEADER */


@media screen and (max-width : 1300px) {
    .nav-bar{
        margin-right: 1vw;
    }
}
@media screen and (max-width : 1050px) {
    .nav-bar{
        margin-right: 1.5vw;
    }
    .nav-bar a{
        width: 90px;
    }
}

@media screen and (max-width : 880px) {
    .menu-cont{
        display: block;
    }
    .nav-bar{
        display: none;
    }
    .search{
        width: 40vw;
    }
}
@media screen and (max-width : 610px) {
    .container-nav{
        height: 80px;
    }
    .search{
        width: 50vw;
    }
}
@media screen and (max-width: 440px) {
    .menu-cont{
        width: 25vw;
    }
}

             /* END OF HEADER MEDIA */
   
             /* MAIN CONTENT */
.carousel-work{
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0px 0px 30px rgb(40, 40, 40);
}


.line{
    justify-content:space-around;
}
.ele{
    box-shadow: 0px 0px 20px rgb(40, 40, 40);
    width: 268px;
    margin: 40px;
    text-align: center;
    padding: 0px;
}
.card{
    height: 400px;
}
.name{
    display: block;
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgb(40, 40, 40);

}
@media screen and (max-width:1200px) {
    .ele{
        margin: 20px ;
    }
}
@media screen and (max-width: 780px) {
    .ele{
        margin: 20px 0px;
    }
}